<div class="card">
    <div class="img">
        <img src="{{user.image}}" width="150px" height="150px">     
    <div class="detail">
        <div class="name">
            <label>Name : </label>
            <span>{{user.name}}</span>
        </div>
        <div class="work">
            <label>profession : </label>
            <span>{{user.work}}</span>
        </div>
        <div class="city">
            <label>City : </label>
            <span>{{user.city}}</span>
        </div>
        
       
    </div>
</div>
